<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a href="#" class="navbar-brand">Brand Name</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapsableContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarCollapsableContent" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <a href="#" class="nav-link ml-sm-3">Home</a>
      <li class="nav-item dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle ml-sm-3"
          data-toggle="dropdown"
          role="button"
        >
          Products</a
        >
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Product 1</a>
          <a href="#" class="dropdown-item">Product 2</a>
          <a href="#" class="dropdown-item">Product 3</a>
        </div>
      </li>
      <a href="#" class="nav-link ml-sm-3">Contact</a>
    </ul>
  </div>
</nav>
