<div class="container-fluid px-0">
  <div class="product-detail-section">
    <div class="row no-gutters">
      <div class="col-md-6 product-detail-section__product-image"></div>
      <div class="col-md-6 product-detail-section__product-description">
        <div class="card">
          <div class="card-header display-4 text-center">Product One</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="
                  list-group-item
                  lead
                  d-flex
                  justify-content-between
                  align-items-center
                "
              >
                Feature One
                <span class="badge badge-dark badge-pill p-3">
                  <span class="fas fa-tachometer-alt fa-2x"></span>
                </span>
              </li>
              <li
                class="
                  list-group-item
                  lead
                  d-flex
                  justify-content-between
                  align-items-center
                "
              >
                Feature Two
                <span class="badge badge-dark badge-pill p-3">
                  <span class="fas fa-car fa-2x"></span>
                </span>
              </li>
              <li
                class="
                  list-group-item
                  lead
                  d-flex
                  justify-content-between
                  align-items-center
                "
              >
                Feature Three
                <span class="badge badge-dark badge-pill p-3">
                  <span class="fas fa-gas-pump fa-2x"></span>
                </span>
              </li>
              <li class="list-group-item lead pt-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
                consequuntur eaque rerum blanditiis! Facilis est vitae rerum
                consequuntur minima cumque fugiat ipsam consequatur repellat
                iusto reprehenderit expedita quidem, incidunt dignissimos.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
