<div class="container-fluid">
  <div class="row no-gutters">
    <div
      class="
        col-12
        pt-4
        px-2
        d-flex
        flex-column
        align-items-center
        justify-content-center
      "
    >
      <h2>Contact Us</h2>
      <ul class="list-group list-group-flush contact-section__info-list">
        <li
          class="
            list-group-item
            lead
            d-flex
            justify-content-between
            align-items-center
          "
        >
          lorem@mail.com
          <span class="badge badge-dark badge-pill p-2">
            <span class="fas fa-envelope"></span>
          </span>
        </li>
        <li
          class="
            list-group-item
            lead
            d-flex
            justify-content-between
            align-items-center
          "
        >
          +48 123-456-789
          <span class="badge badge-dark badge-pill p-2">
            <span class="fas fa-phone"></span>
          </span>
        </li>
        <li
          class="
            list-group-item
            lead
            d-flex
            justify-content-between
            align-items-center
          "
        >
          Main St 321<br />
          60-538 Poznań<br />
          Poland
          <span class="badge badge-dark badge-pill p-2">
            <span class="fas fa-address-book"></span>
          </span>
        </li>
      </ul>
    </div>
    <div class="col-12">
    </div>
    <div class="col-12"></div>
  </div>
</div>
