<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col">
      <div class="home-section__banner">
        <div class="container-fluid">
          <div class="row">
            <div
              class="col d-flex justify-content-end pt-4 pl-4 pl-sm-0 pr-sm-5"
            >
              <h1 class="display-3 text-white">Quality Redefined</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col">
      <div class="home-section__overview">
        <div class="container">
          <div class="row align-items-center">
            <div class="col px-5">
              <p class="display-4 text-white">You Can Trust Us</p>
              <p class="lead text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                ut accusantium saepe animi, itaque ab nostrum rem facilis
                praesentium blanditiis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col">
      <div class="home-section__icons">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-4 text-center mt-5 mt-md-0">
              <span class="fas fa-check-square fa-8x"></span>
              <p class="display-4">Quality</p>
            </div>
            <div class="col-md-4 text-center mt-5 mt-md-0">
              <span class="fas fa-handshake fa-8x"></span>
              <p class="display-4">Trust</p>
            </div>
            <div class="col-md-4 text-center mt-5 mb-3 mt-md-0">
              <span class="fas fa-cogs fa-8x"></span>
              <p class="display-4">Reliability</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
